In [ ]:
# import classifiers 
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv(r'heart_data/heart.csv')

In [4]:
data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [5]:
# encode the categorical values
data.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [7]:
enc_ecg = {'Normal':1, 'ST':2, 'LVH':3}

In [8]:
enc_ecg

{'Normal': 1, 'ST': 2, 'LVH': 3}

In [9]:
data.RestingECG.map(enc_ecg)

0      1
1      1
2      2
3      1
4      1
      ..
913    1
914    1
915    1
916    3
917    1
Name: RestingECG, Length: 918, dtype: int64

In [10]:
data.RestingECG = data.RestingECG.map(enc_ecg)

In [13]:
data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,1,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,1,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,2,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,1,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,1,122,N,0.0,Up,0

In [14]:
data.ExerciseAngina.unique()

array(['N', 'Y'], dtype=object)

In [15]:
enc_ang = {'N':0, 'Y':1}

In [16]:
enc_ang

{'N': 0, 'Y': 1}

In [17]:
data.ExerciseAngina.map(enc_ang)

0      0
1      0
2      0
3      1
4      0
      ..
913    0
914    0
915    1
916    0
917    0
Name: ExerciseAngina, Length: 918, dtype: int64

In [18]:
data.ExerciseAngina = data.ExerciseAngina.map(enc_ang)

In [20]:
data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,1,172,0,0.0,Up,0
1,49,F,NAP,160,180,0,1,156,0,1.0,Flat,1
2,37,M,ATA,130,283,0,2,98,0,0.0,Up,0
3,48,F,ASY,138,214,0,1,108,1,1.5,Flat,1
4,54,M,NAP,150,195,0,1,122,0,0.0,Up,0

In [21]:
data.Sex.unique()

array(['M', 'F'], dtype=object)

In [22]:
enc_sex = {'M':1, 'F':0}

In [23]:
enc_sex

{'M': 1, 'F': 0}

In [24]:
data.Sex.map(enc_sex)

0      1
1      0
2      1
3      0
4      1
      ..
913    1
914    1
915    1
916    0
917    1
Name: Sex, Length: 918, dtype: int64

In [25]:
data.Sex = data.Sex.map(enc_sex)

In [26]:
data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,ATA,140,289,0,1,172,0,0.0,Up,0
1,49,0,NAP,160,180,0,1,156,0,1.0,Flat,1
2,37,1,ATA,130,283,0,2,98,0,0.0,Up,0
3,48,0,ASY,138,214,0,1,108,1,1.5,Flat,1
4,54,1,NAP,150,195,0,1,122,0,0.0,Up,0

In [27]:
data.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [29]:
enc_chest = {'ATA':1, 'NAP':2, 'ASY':3, 'TA':4}
enc_chest

{'ATA': 1, 'NAP': 2, 'ASY': 3, 'TA': 4}

In [30]:
data.ChestPainType.map(enc_chest)

0      1
1      2
2      1
3      3
4      2
      ..
913    4
914    3
915    3
916    1
917    2
Name: ChestPainType, Length: 918, dtype: int64

In [31]:
data.ChestPainType=data.ChestPainType.map(enc_chest)

In [32]:
data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,Up,0
1,49,0,2,160,180,0,1,156,0,1.0,Flat,1
2,37,1,1,130,283,0,2,98,0,0.0,Up,0
3,48,0,3,138,214,0,1,108,1,1.5,Flat,1
4,54,1,2,150,195,0,1,122,0,0.0,Up,0

In [33]:
data.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [34]:
enc_slope = {'Up':1, 'Flat':2, 'Down':3}
enc_slope

{'Up': 1, 'Flat': 2, 'Down': 3}

In [35]:
data.ST_Slope.map(enc_slope)

0      1
1      2
2      1
3      2
4      1
      ..
913    2
914    2
915    2
916    2
917    1
Name: ST_Slope, Length: 918, dtype: int64

In [36]:
data.ST_Slope = data.ST_Slope.map(enc_slope)

In [37]:
data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,1,0
1,49,0,2,160,180,0,1,156,0,1.0,2,1
2,37,1,1,130,283,0,2,98,0,0.0,1,0
3,48,0,3,138,214,0,1,108,1,1.5,2,1
4,54,1,2,150,195,0,1,122,0,0.0,1,0

In [38]:
data.to_csv('data_encoded_kath.csv', index = False)

In [39]:
data = pd.read_csv(r'data_encoded_kath.csv')

In [40]:
data.head(2)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,1,0
1,49,0,2,160,180,0,1,156,0,1.0,2,1